table{
    width:100%;
}
th{
    border: 1px solid #000000;
    text-align: center;
}
td{
    border: 1px solid #000000;
    text-align: center;
}
.seccion{
    margin-bottom: 10px
}

@media print{
    .punto{
        background-color: #c2c2c2 !important;
    }
}
